fieldset {
    width: 40%; /* Reduce the width */
    height: auto; /* Let the content decide the height */
    padding: 15px; /* Control internal spacing */
    margin: 20px auto;
    background-color: rgba(231, 238, 134, 0.625);
}
legend{
    text-align: center;
    font-size:45px;
    text-decoration:solid;
}
body{
    background-image: url(https://images.unsplash.com/photo-1589829545856-d10d557cf95f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGF3JTIwYW5kJTIwb3JkZXJ8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size:medium;
}