body{
    background-image: url("https://images.pond5.com/interior-indian-police-station-footage-074264166_iconl.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
}
h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding-top: 50px;
    color: rgb(14, 12, 3);
}
label{
    display: block;
    margin: 0.5rem 0;
}
form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    width: 60vw;
}
fieldset{
    border: none;
    padding: 2em;
    text-align: center;
}
legend{
    text-align: center;
    padding: auto;
    font-size: 25px;
    color: black;
}
input{
    border: 1px solid;
    width: 50%;
    min-height: 2em;
}
input[type="email"]{
    margin: 5px;
}
button{
    width: 25%;
    padding: 5px;
    font-size: 20px;
    background-color: grey;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}